html, body {
  margin: 0;
  padding: 0;
}


@font-face {
    font-family: 'pixelade'; 
    src: 'pixelade.ttf'; 
}
  
  

@font-face {
font-family: "pixelade";
src: url("css/fonts/pixelade.ttf");
src: 
url("pixelade.ttf") format("woff"),
url("pixelade.ttf") format("opentype"),
url("pixelade.svg#filename") format("svg");
}







.question {
  font-family: "pixelade";
  font-size: 25px;
  height: 45px;
  width: 90%;
  color: white;
  background: linear-gradient(0deg, #c6c8ff, #aec9ff);
	border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px;
  max-width: 900px;
}
 
body {
  background-color: black;
  color: white;
  font-family: pixelade;
  font-size: 25px;
}
.answers {
  color: white;
  font-family: "pixelade";
  font-size: 25px;
  border-width: 5px;
  height: 120px;
    width: 90%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(0deg, #aec9ff, #c6c8ff);
  padding: 16px;
  max-width: 900px;

}

#submit {
 font-family: pixelade; 
  font-size: 25px;
  background: white;
  border-color: white;
}

.space {
  height: 80px;
}


.line {
  height: 10px;
  width: 90%;
  color: white;
  background: linear-gradient(0deg, #c6c8ff, #aec9ff);
  padding: 16px;
  max-width: 900px;
}
